td {
  height: 5vw;
  width: 5vw;
  border: 1px solid black;
  text-align: center;
}

table {
  margin: 0 auto;
}

#controls {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  width: 5vw;
  height: 5vw;
  margin: 1vw;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
