<table>
  <tr *ngFor="let line of this.grid.data; let index = index;">
    <td *ngFor="let column of this.grid.data[index]">{{ column.value > 0 ? column.value : '' }}</td>
  </tr>
</table>

<div id="controls">
  <div class="row">
    <div class="col">UP</div>
  </div>
  <div class="row">
    <div class="col">LEFT</div>
    <div class="col"></div>
    <div class="col">RIGHT</div>
  </div>
  <div class="row">
    <div class="col">DOWN</div>
  </div>
</div>
